.title{
    margin-left: 15px;
}
.nome{
    margin-left: 18px;
}
.form-control{
    width: 181px;
}
.btnBusca{
    margin-top: -57px;
    margin-left: 207px;
}
.divResult{
    margin-left: 18px;
}
body{
    background: #FFFAFA;
}
.btnRepos{
    margin-top: 23px;
    margin-left: 17px;
    display: none;
}
.btnReposVis{
    margin-top: 5px;
    margin-left: 15px;
    display: none;
}
.table{
    display: none;
    position: absolute;
    top: 230px;
    margin-left: 350px;
}
.repositorio{
    display: none;
    position: absolute;
    top: 187px;
    margin-left: 357px;
}
.repositorio-visitados{
    display: none;
    position: absolute;
    top: 187px;
    margin-left: 357px;
}